html{
    padding: 0;
    margin: 0;
}

.flex-box{
    margin-top: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    .flex-item{
        flex: 1;
        padding: 40px;
        border-right: 1px solid #333;
    }
}